.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: top;
    text-align: center;
    float: left;


}



.sort-block .sort-item {
    padding-right: 20px;
}

.sort-block a {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}
.img-class {
    width: 300px;
}
